.job-form-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 24px #00000029;
  border-radius: 29px;
  opacity: 1;
  width: 85%;
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 60px
}

.job-form-title {
  padding-top: 45px;
  margin-left: 6%;
  font-family: proxima-bold;
}

.job-form {
  margin-top: 30px;
  font-family: proxima-regular;
  margin-left: 5%;
}

.job-form-fields {
  margin-bottom: 25px;
  color: black;
}


.job-form-fields > div > label {
  font-size: 14px;
}

.form-input {
  background: #E2E2E2 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 0.3;
  border: 0;
  height: 40px;
  padding-left: 20px;
  width: 58%;
  
}



.form-input-textarea {
  height: 100px;
}

.form-input-max , .form-input-min {
  background: #E2E2E2 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 0.3;
  border: 0;
  height: 40px;
  padding-left: 20px;
  width: 68%;
}

.form-input-max {
  margin-left: -60px;
}


.tag-input > .react-tag-input {
  background: #E2E2E2 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 0.3;
  border: 0;
  height: 40px;
  overflow-y: hidden; 
  
}

.tag-input > .react-tag-input > .react-tag-input__tag {
  border-radius: 15px ;
  opacity: 1;
  color: black;
  background-color: white;
}

.tag-input > .react-tag-input > .react-tag-input__tag > 
.react-tag-input__tag__content {
  color: black !important;
  
opacity: 1;
}


.post-job-btn {
  text-align: center;
  margin-top: 30px;
}

.post-job-button{
  background: #3771FF 0% 0% no-repeat padding-box;
  opacity: 1;   
  border: 0;
  color: white;
  width: 25%;
  height: 60px;
  border-radius: 30px;

}


.add-more-tags {
  width: 65%;
  text-align: right;
  text-decoration: underline;
  font-family: proxima-regular;
  letter-spacing: 0px;
  color: #3771FF;
  opacity: 1;
}



@media screen and (max-width: 988px) {
  
  .tag-input > .react-tag-input {
    width: 58%;
  }
}


@media screen and (max-width: 766px) {
  .form-input-max {
    margin-left: 0px;
    margin-top: 30px;
  }
  
}