.browse-candidate-container {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 24px #00000029;
  border-radius: 29px;
  opacity: 1;
  width: 85%;
  margin-left: 8%;
  margin-bottom: 5%;
  margin-top: 5%;
}


.browse-candidate-body {
  padding-top: 30px;
  margin-left: 5%;
}

.browse-form-fields {
  margin-top: 30px;
}

.browse-form-fields > div > label {
  margin-left: 10px;
}

.exp-range-dropdown {
  background: #ECECEC 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  border: 0;
  padding-left: 20px;
  height: 45px;
  color: black;
  padding-right: 80px;
  margin-left: 10px;
}




.browse-input {
  background: #E1E1E1 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.64;
  border: 0;
  padding-left: 20px;
  height: 45px;
  width: 88.5%
}

/* Active Candidates */

.applicant-detail-2 {
  margin-left: -70px ;
}

.job-posting-img {
  width: 18%;
}

.browse-last-active {
  float: left;
  margin-top: 26%;
  margin-left: -46%;
  
 font-family: proxima-regular;
}

.job-post-description {
  width: 85%;
  margin-left: 90px;

}

.browse-candidate-btn-container {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
}

.browse-candidate-btn {
  background: #3771FF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  border: 0;
}

.fa-search {
  margin-right: 30px;
  border-right: #FFFFFF;
}

.candidate-details {
  width: 100%;
  margin-left: 11%;
}



@media screen and (max-width: 1462px) {
  .exp-range-dropdown {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1246px) {
  .exp-range-dropdown {
    padding-right: 30px;
  }
}

@media screen and (max-width: 984px) {
  .exp-range-dropdown {
    margin-bottom: 30px;
  }
}