.total-applicants-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 24px #00000029;
    border-radius: 29px;
    opacity: 1;
    margin-top: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
    width: 90%;
    
    margin-left: 3%;

}

.total-applicants-sidebar {
    margin-top: 100px;
    margin-left: 60px;
    padding-top: 5px !important;
}

.total-candidate-min_max {
    font-size: 9px !important;
    font-family: proxima-regular;
}




.total-applicants-content {
    padding-top: 30px;
    
}

.job-title-heading {
    margin-top: 30px;
    padding-left: 100px;
    font-family: proxima-bold;
    
}

/* DropDown */

.relevance-dropdown {
    width: 100%;
    margin-right: 7%;
    
}

.total-applicants-dropdowns {
    margin-right: 0px !important;
    
    text-align: center !important;
}

@media screen and (max-width: 970px) {
    .total-applicants-sidebar {
        margin-top: 0;
        margin-left: 0;
    }
}